.inicio {
    width: 70vw;
    background: black;
    border-radius: 16px; /* Establece un radio de borde de 26px */
    position: relative; /* Añadir posicionamiento relativo para alinear el menú */
}

.inicio h1, p{
    padding: 20px;
}

.inicio p{
    font-size: 20px;
}

.inicio a{
    font-size: 10px;
    display: block;
    padding: 5px;
    color: white;
}

.inicio a:hover{
    color: yellow;
}
